<h2>Aspirantes</h2>
<br>
        <nav class="navbar navbar-light  navbar-expand-lg" style="width:75vw;background-color: #e3f2fd;font-family:times ">
                <a class="navbar-brand mb-0 h1" href="/">HOME</a>
                
                <a class="navbar-brand mb-0 h1" href="/aspirantes?cedulita={{cedulita}}">Home de aspirante</a>
                
        </nav>
        <br>

        
