<!DOCTYPE html>

<html>

<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--Bootstrap css -->
     <link rel="stylesheet" href="/css/bootstrap.min.css"  type="text/css">
    <title>Hola manada de vagos</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>

    <header>
        <h1>Bienvenido a esta basura</h1>
    </header>
