

<div class="container" style="width: 50vw;">
    <h2>Iniciar sesión</h2>
    <form action="/autenticar" method="GET">
        <div class="form-group" style="width: 45vw;">
            <label>Usuario</label>
            <input type="text" class="form-control" name="usuario" placeholder="Usuario">
            <label>Contraseña</label>
            <input type="password" class="form-control" name="pass" placeholder="Contraseña">
            <br>
<<<<<<< HEAD
            <button class="btn-btn-primary">Enviar</button>
=======
            <button class="button" class="btn btn-primary btn-block">Enviar</button>
>>>>>>> ce99d655cd755fe7d2bbf967507a0ae3503cf93d
        </div>
    </form>
</div>