{{>header}}

<div class="container">
        <div class="h2">
            Cargo actualizado exito!!
        </div>
        <a href="/actualizarCargos" class="btn btn-danger">Regresar</a>
</div>


{{>footer}}