{{>headerCoor}}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="h2">Cursos abiertos</div>
            {{{listarCursosCoordinador lista3}}}
        </div>
        <div class="col">
            <div class="h2">Cursos cerrados</div>
            {{{listarCursosCoordinador lista4}}}
        </div>
    </div>
</div>


{{>footer}}