{{>header}}

<div class="container">
        <div class="h2">

            Bienvenido, {{{respuesta.nombre}}}!!
        </div>
        <a href="/actualizarCargos" class="btn btn-danger">Regresar</a>
</div>


{{>footer}}