{{>header}}



<div class="container text-center">
    <h2>Se ha registrado exitosamente a {{mostrar.nombre}}</h2>
    <br>
    <a href="/registrarCurso" type="button" class="btn btn-primary btn-lg btn-block" value="{{mostrar.cc}}">Registrar curso</a>
    <br>
    <a href="/" type="button" class="btn btn-danger btn-lg btn-block">salir</a>
    <br>
</div>

{{>footer}}