
<form action="/ingresoExitoso" method="post">
    <div class="row">
        <label>Email address</label>
        <input type="Number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese su cédula">
    </div>
    <div class="row">
        <label>Contraseña</label>
        <input name="pass" type="password" class="form-control" id="exampleInputPassword1" placeholder="pass">
    </div>
    <button type="submit" class="btn btn-primary">Ingresar</button>
</form>