{{>cabezaAspi}}
{{>header}}

<div class="row">
    <div class="col-6">   
            <h4>Estas inscrito en los siguientes cursos </h4>
            {{{listarInscrito cedulita}}}  
            
            <br><br><br><br>
    </div>
    <div class="col-6"> 
        <div class="container">
            <p>
                <h4> A continuación encuntras una opción para inscribirte</h4>
                <form action = "/anadirAspirante" method="get" >
                    <div class="row">   
                        <div class="col -sm-1 col-lg-4"> 
                            <input type="number" name ="cedulita" id = "cedulita" value={{cedulita}} readonly>
                            </div>
                    </div>
                    <div class="row">   
                        <div class="col -sm-1 col-lg-4"> 
                            <label>Cursos disponibles</label><br>
                                {{{prueba}}}
                        </div>
                    </div>
                    <button>Inscribir</button>
                </form>
            </p>
        </div>  
    </div>
</div>
{{>footer}}