{{>header}}
<h1>Hola entraste a la pagina de aspirantes</h1>

<p>
    Estas inscrito en los siguientes cursos
    {{{listarInscrito}}}

   <h3> A continuación encuntras una opción para inscribirte</h3>
</p>

<p>
    <form action = "/anadirAspirante" method="get" >
        <div class="row">   
            <div class="col -sm-1 col-lg-4"> 
              
                <input type="number" name ="cedulita" id = "cedulita" value="101" readonly>
                <label>Cursos disponibles</label><br>
                    {{{prueba}}}
            </div>
        </div>
        <button>Inscribir</button>
    </form>
</p>
{{>footer}}