{{>header}}

<div class="row">
    <div class="col-6">
        {{{listar}}}
    </div> 

    
    <div class="col-6">
        <div class="card text-center">    
            {{>login}} 
        </div>   
    </div>
</div>


{{>footer}}